{
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "jsxSingleQuote": true,
   "printWidth": 120,
   "proseWrap": "always",
   "semi": true,
   "singleQuote": false,
   "tabWidth": 2,
   "plugins": ["prettier-plugin-tailwindcss"]
}