@import "tailwindcss";

@theme {
  /* Core Brand/Accent Colors */
  --color-brandGradientStart: #FF9966;
  --color-brandGradientEnd: #FF8CA9;
  --color-accentOrange: #FF9966;
  --color-accentCyan: #22D3EE;

  /* Text Colors */
  --color-primaryText: #333;
  --color-secondaryText: #999;
  --color-mutedText: #A1A1AA;
  --color-onBrandText: #FFFFFF;
  --color-linkText: #F96;

  /* Background Colors */
  --color-primaryBackground: #FFFCFA; 
  --color-secondaryBackground: #FFFFFF;

  /* Border Colors */
  --color-defaultBorder: #E5E5E5;

  /* Status Colors */
  --color-statusVouching: #BE75FF;
  --color-statusVerification: #00D1FF;
  --color-statusChallenged: #FFBE66;
  --color-statusIncluded: #00D9A1;
  --color-statusRejected: #F60C6E;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body {
  font-family: var(--font-urbanist), sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-heading, .title {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-urbanist {
  font-family: var(--font-urbanist), sans-serif;
}

.primary-gradient-text {
  @apply bg-gradient-to-r from-brandGradientStart to-brandGradientEnd bg-clip-text text-transparent;
}

.primary-gradient-bg {
  @apply bg-gradient-to-r from-brandGradientStart to-brandGradientEnd;
}

/* Logo Slider Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

@theme {
  --breakpoint-4xl: 140rem;
}